@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-2 {
    color: white;
    text-shadow:
    -2px -2px 0 #000,
     0   -2px 0 #000,
     2px -2px 0 #000,
     2px  0   0 #000,
     2px  1px 0 #000,
     0    2px 0 #000,
    -2px  2px 0 #000,
    -2px  0   0 #000;
    -webkit-font-smoothing: antialiased
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}
:root {
  --background: #ffffff;
  --foreground: #171717;

  --black: #000000;
  --neutral: #404040;
  --white: #FFFFFF;

  --fill: #1C1C1C;

  /* Zinc */
  --zinc-1: #f4f4f5;
  --zinc-2: #e4e4e7;
  --zinc-3: #d4d4d8;
  --zinc-4: #c0c0c2;
  --zinc-5: #71717a;

  --error: #ef4444;
}

*{
  font-family: var(--font-sora);
}

